.header {
    background: #000;
}

.header__inner {
    padding: 20px 15px;
    margin: 0 auto;
    max-width: 1230px;
}

.header__logo {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
}